{% extends 'base/base2.html'%}
{% block title %}Connexion au project {% endblock title %}

{% block body%}


                
              </div>   
    <div class="col-md-12 mt-5" style="width: 893px;">
        {% if messages %}
        {% for message in messages %}
        <div class="alert alert-primary text-center">{{message}}</div>
        {% endfor %}
        {% endif %}
        <div class="title">{{title}}</div>
        <form class="boxo" action="" method="POST" novalidate> {% csrf_token %}
            <div class="card">
                <div class="card-header text-center mt-5 title" style="color: rgb(58, 6, 247);"><h2 ><strong>Connexion</strong></h2> </div>
                <div class="card-body">

                    <label for="id_username"><h2 class="Prt9 mt-0"> Domaine</h2></label>
                    {% if form.username.errors %}
                    {% for error in form.username.errors %}
                	<div class="div-error-{{form.username.name}}"><small class="text-danger">{{error}}</small></div>
                    {% endfor %}
                    {% endif %}
                    {{form.username}}

                    
                    
                    
                    <label for="id_pwd "><h2 class="Prt9">Mot de passe</h2></label >
                    {% if form.pwd.errors %}
                    {% for error in form.pwd.errors %}
                    <div><small class="text-danger">{{error}}</small></div>
                    				
                    {%endfor%}
                    {%endif%}
                    {{form.pwd}}
                </div>
                <div class="card-footer">                    
                    <input type="submit" name="" value="Se connecter">              
                </div>
                <div class="container">
    <a href='/register' >
                    <div class="bi3 mt-2 mb-5 mx-5">
                       <h4>Créer  un compte</h4>
                                
                              </div> </a>
            </div>
        </form>

    </div>
</div>
{% endblock %}

{% block script %}
<script>
        $(document).ready(function(){

         $('input').keyup(function(){				
            let textSaisi = $(this).val();				
            let attrname  = $(this).attr('name');				
            let validatotElement = ".div-error-"+attrname;				
            if(textSaisi == ""){				
                if($(this).hasClass('is-invalid')){				
                    $(this).addClass('is-invalid');				
                    $(validatotElement).show();				
                }				
            } else {				
                $(this).removeClass('is-invalid');				
				
                $(validatotElement).hide();				
            }
         })
         
        })			


</script>
{% endblock %}




    
                                        
                        
