{% extends 'base/base.html' %}
{% block body %}
{% load static %}
{% load i18n %}
<hr>
<div class="content">
    <div class="col text-center">
      <div class="content-header">
   
        <h1 class="text-center">Domaine    {{ request.user }}</h1>
        
    
    {% if request.user.is_authenticated %}
<div class="text-align">
    <a href="{% url 'logout' %}">Deconnexion</a>
    {% else %}
    <a href="{% url 'login' %}"></a>
    {% endif %}
   </div> 
  </div>


        <hr>
       
    </div> 
    <div class="boxova">
      <h5>Stock des engrais</h5><br>
      <h5>Map</h5>
              
            </div>
<div class="col text-center">
  <div class="button-group">
    <a href="fertiAmmstocks" class="btn btn-success btn-md " role="button">Ammonitrate</a> <br>      
    <a href="fertiMapstocks" class="btn btn-success btn-md mt-2" role="button">Map</a>
    <a href="fertiSulfatestocks" class="btn btn-success btn-md mt-2" role="button">Sulfate potasse</a>
    <a href="fertiCalcstocks" class="btn btn-success btn-md mt-2" role="button">Nitrate de calcium</a>
    <a href="fertiUreestocks" class="btn btn-success btn-md mt-2" role="button">Uree 46</a>
    <a href="fertiNitrstocks" class="btn btn-success btn-md mt-2" role="button">Nitrate potasse</a>


    <hr>
 
</div>
  
  

  <div class="container">
 
<a href="{% url 'fertiMapstock-create' %}" >
  <button class="text-center mt-2 btn-primary" style="margin: 25px;"> Ajouter une operation </button></a>

      <div class="row">
       
          <table class="table1 table-bordered border-danger " style="padding-left: 86px;width: 950px;" >
            <thead>
              <tr>
                <th>Domaine</th>
                <th>Date</th>
                <th>Stock initial</th>
                <th>Entree</th>
                <th>Sortie</th>
                <th>Destination</th>
                <th>Stock restant</th>
                <th>Action</th>
                
              </tr>
            </thead>
            <tbody>
              {% language 'fr' %}
                {% for fertiMapstock in fertiMapstocks %}    
                       
              <tr>
                <td>{{ fertiMapstock.domaine }}</td>
                <td>{{ fertiMapstock.date }}</td>
                <td>{{ fertiMapstock.s_initial|default_if_none:"" }}</td>
                <td>{{ fertiMapstock.entree|default_if_none:"" }}</td>
                <td>{{ fertiMapstock.sortie|default_if_none:"" }}</td>
                <td>{{ fertiMapstock.destination|default_if_none:""}}</td>
                <td>{{ fertiMapstock.s_restant|default_if_none:"" }}</td>
                
               
                <td><a  href="{% url 'fertiMapstock-update' fertiMapstock.id %}"><img  src="{% static 'img/modifa.png' %}"></a><a  href="{% url 'fertiMapstock-supprime' fertiMapstock.id %}"><img src="{% static 'img/deleter.png' %}"></a>
                  
                </td>
             
              </tr>
              
              {% empty %}
                  <h6>Pas d'enregistrement</h6> 
               {% endfor %}
              {% endlanguage %}
            
            </tbody>
          </table>
      </main>
    </div>
    </div>
    </div>



  
  {% endblock %}